[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
.utmp/

.vs/
.idea/
*.csproj
*.sln
*.slnx
*.unityproj
*.booproj
*.pidb
*.suo
*.user
*.userprefs

.DS_Store
Thumbs.db
.remember/
sysinfo.txt

*.apk
*.aab
*.app
*.unitypackage
